mixin contact(title, text) 
    
    .font-bold.mb-11   
    

        div
            
            span
            
                if !block 
                    
                    p No icon to display here
                
                block 
            
            .capitalize #{title}    
            
        .uppercase #{text }  
            
            