
mixin skill(title)
    article.px-10.py-8.transition.text-center.duration-200.ease-in.group(
        class=`flex flex-col items-center gap-5
        hover:bg-gray-50 hover:outline-2 hover:outline-green-500
        `
    ) 
        
        if block
            
                block
        else 
            p.text-red-500 No svg to display
        
        .text-xl #{title} 

        p.max-w-64.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt a dignissimos maiores recusandae! Officia, eius.